/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img { max-width: 100%;
      height: calc(100% / 5);}

body {background-color: black;
      font-family: sans-serif;
       }

a {
    text-decoration: none;
    color: inherit;
}

/* WRAPPER */

.wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.container {
    width: 90%;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    overflow-y: auto;
}

/* COLUMN AND CARD */


.column {
    width: calc(100% / 7);
}

.card {
    display: flex;
    position: relative;
    /* filter: blur(5px);
    transition: 1s;
     */

}
/* .card:hover {
    filter: blur(0);
} */

.name-user {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(103, 101, 101, 0.589);
    color: white;
    font-weight: bold;
    font-size: .3rem;
    padding: 0.1rem;
}


.tool-bar{
    width: 100%;
    min-height: 50px;
    background-color: rgba(56, 53, 53, 0.767);
    position: absolute;
    display: flex;
    justify-content: space-between;
    bottom: 0;
    left: 0;
    /* animation-name: change-color;
    animation-duration: 10s;
    animation-delay: 2s; */
}

/* @keyframes change-color {

    0% {
        background-color: rgb(182, 240, 89);
    }

    15% {
        background-color: rgb(14, 204, 56);
    }

    55% {
        background-color: rgb(47, 14, 137);
    }

    75% {
        background-color: rgba(6, 104, 66, 0.973);
    }

    100% {
        background-color: rgba(7, 145, 214, 0.973);

    }
    
} */

ul li {
    display: inline-block;
    list-style-type: none;
    color: white;
    font-size: 1rem;
    padding: 0 .8rem;
    transition: 1s;
}


li:hover {
    color: red;
}

.center-menu, .cam  {
    line-height: 50px;
    
}
.cam {
    width: 10%;
    text-align: center;
  
}

.end-call {
    width: 10%;
    line-height: 50px;
    text-align: center;
    background-color: rgb(96, 92, 92);
    font-size: 1rem;
    color: red;
    font-weight: bold;
    transition: 1s;
}

#share {
    color: green;
    font-size: 1.2rem;
    transition: 1s;

    
}

#share:hover {
    color: rgb(5, 253, 5);
}

#angle-up {
    font-size: .6rem;
    padding: 0 .3rem;
}

.end-call:hover {
    color: white;
    background-color: red;
}